body{
  background: #1A1A1D;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
}
form{
  position: absolute;
  top: 42%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
  border-radius: 4px;
}
form p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
form #files{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form #password{
  margin-top: -10px;
  margin-bottom: 28px;
  margin-right: 0px;
  margin-left: -4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  width: 496px;
  outline: none;
  border: none;
}
form button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
  font-size: 100%;
}
form button:hover{
  background: #149174;
	color: #0C5645;
}
form button:active{
  border:0;
}
.center {
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#files:hover,
#submit-button:hover {
  cursor: pointer;
}